@model Model.SimpleBallot
@using System.Linq;
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Stimmzettel</h1>
    <div>
        @foreach (var group in Model.Groups)
        {
            <h2>@group.Key</h2>
            <div>
                @foreach (var vote in group.Value.Votes)
                {
                    <span>@vote.Key</span>

                    <input name="@group.Key" value="@vote.Key" type="radio" />

                    <br />
                }
            </div>
        }
        <button onclick="submit(event)">Absenden</button>
    </div>
    <script src="js/model.js"></script>
    <script>
        const publicKey = "@Html.Raw(Model.PublicKey)"
        const returnAddress = "@Html.Raw(Model.ReturnAddress)"
        const ballotId = "@Html.Raw(Model.BallotId)"

        
        function submit(e) {
            let ballot = {
                Groups: {}
            }
            document.querySelectorAll('input[type="radio"]:checked').forEach((radio) => {
                let group = radio.name;
                let vote = radio.value;
                if (!ballot.Groups[group]) {
                    ballot.Groups[group] = { Votes: {} }
                }
                if (!ballot.Groups[group].Votes[vote]) {
                    ballot.Groups[group].Votes[vote] = { Value: radio.checked }
                }
            });


            encryptBallot(ballot,publicKey,returnAddress,ballotId).then((body) => {
                
                body = JSON.stringify(body)
                console.log(body)
                fetch(returnAddress, {
                    method: "POST",
                    body: body,
                    headers: {
                        'Content-Type': 'application/json',
                    }
                });

            });
        }





    </script>
    <script src="js/test/testModel.js"></script>
    <script>
        try{
            testAll();
        
        }
        catch(e){
            
            document.body.innerHTML = e;
        
        }
    </script>
</div>
